<%= stylesheet_link_tag    'application', home: 'all', 'data-turbolinks-track': 'reload' %>
<%= render "layouts/probe" %>
<%= javascript_tag do %>
window.branchIdInFolder = "<%=@ancestry%>";
window.currentBranchId="<%=@branch_id%>";
<% end %>
<script>
  var widthPosition =window.innerWidth||window.innerWidth||document.body.clientWidth;
  var addFolderCount = 0;
  var dropPosition=0; //바탕(0)인지 폴더(1)인지
  var makeWorkFolderContext = function() {
    //$(".custom_menu").append("<li data-action='add_favorate'><img class='star_btn_context' src='/assets/star3.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Add favorate</li>");
    $(".custom_menu").append("<li data-action='change_name'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;' />&nbsp;&nbsp;Rename</li>");
    //$(".custom_menu").append("<li data-action='change_color'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Change color</li>");
    //$(".custom_menu").append("<hr class='context_hr'/>");
    //$(".custom_menu").append("<li data-action='copy'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Copy</li>");
    //$(".custom_menu").append("<li data-action='paste'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Paste</li>");
    //$(".custom_menu").append("<li data-action='move'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Move</li>");
    $(".custom_menu").append("<li data-action='share_link'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Share link</li>");
    $(".custom_menu").append("<hr class='context_hr'/>");
    $(".custom_menu").append("<li data-action='delete'><img class='delete_btn_context' src='/assets/close1.png' style='height:18px;width:18px;' />&nbsp;&nbsp;Delete</li>");
  }
  function closeHover(element) {
    element.setAttribute('src', '/assets/closeMini2.png');
  }
  function closeUnhover(element) {
    element.setAttribute('src', '/assets/closeMini.png');
  }

  $(document).ready(function() {
    $('.work_container').width(widthPosition - $('.treeView').outerWidth());
    makeWorkFolderContext();
    /* 커스텀 context menu */
    // 해당 리스트와 겹치는 요소가 하나라도 있는지 체크하는 루틴
    var checkIntersection = function(target_list, obj_list) {
      var flag = false;
      $.each(target_list, function(target_idx, target_val) {
        $.each(obj_list, function(obj_idx, obj_val) {
          if (target_val == obj_val) {
            flag = true;
            return;
          }
        });
      });
      if (flag === true)
        return true;
      return false;
    }
    // context menu가 나타났을때 액션 정의
    $(document).bind("contextmenu", function(e) {
      var bind_list = ["userWork", "personal_team_content", "_folder_exist", "_foldername"]
      var target_class = $(e.target).attr("class").split(" ");
      if (checkIntersection(bind_list, target_class) === true) {
      //if (bind_list.include("userWork")) {
        e.preventDefault();
        $(".custom_menu").data("target-id", $($(e.target)[0]).data("id"));
        $(".custom_menu").finish().toggle().
        css({
          top: e.pageY,
          left: e.pageX
        });
      }
    });
    // context menu 밖을 눌렀을 경우
    $(document).bind("mousedown", function(e) {
      if (!($(e.target).parents(".custom_menu").length > 0)) {
        $(".custom_menu").hide();
      }
    })
    // context menu 안의 요소를 클릭한 경우
    $(".custom_menu li").click(function(e) {
      var target = $($($(this)[0]).parent()[0]).data("target-id");
      //var target_type = (target.includes("team") == true)? "team" : "personal";
      var target_id;
      var target_team_id;
      var nCount7=0;
        e.stopPropagation();
      switch ($(this).attr("data-action")) {
        case "add_favorate": alert("add"); break;
        case "change_name":
        {
            var branch_id=target;
            console.log(branch_id);
            if(nCount7==0){
              var x = e.pageX;
              var y = e.pageY;
              $(".edit_branch_name").css({top:y, left:x, display: "block"});
              $(".edit_branch_name #edit_branch_form input").val("");
              $(".edit_branch_name").show();
              //console.log($(".edit_work_name"))
              nCount7=1;
            }
            else{
              $(".edit_branch_name").hide();
              nCount7=0;
            }
            $('.edit_close_btn').click(function(){
              $(".edit_branch_name").hide();
              nCount7=0;
            })
            var countForm1=0;
            $(document).on("click",".edit_branch_button", function(e){
              jQuery.fn.mySerialize = function(){
                var returning = '';
                $('input, select, textarea',this).each(function(){
                  if (this.value!=="") // check this to avoid && in returning string
                  returning +='&'+this.value;
                })
                return returning.substring(1);
              }
              var branch_name=$("#edit_branch_form").mySerialize();
              //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
              if(branch_name==' '){
                alert("빈칸입니다");
                //window.location = '/'
                return;
              }
              else{
                var inputData={"branch_id":branch_id,"name":branch_name}
              }
              //gvar json=$.parseJSON(formData);
              //alert(json.id)
              countForm1++;
              if(countForm1==1){
                $.ajax({
                  type:"POST",
                  url:"/api/post/branchName2",
                  contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                  cache:false,
                  data: inputData,
                  success:function(data){
                    
                  },
                }).complete(function(){
                  $(".edit_branch_name").hide();
                  $('.folder_outline'+branch_id+' ._folder ._foldername').empty().append(branch_name)
                });
              }
            })
        }break;
        case "delete":
          {
            $.get("/api/branch/" + target + "/delete", {"branch_id": target})
            .complete(function(data){
              //alert("삭제 완료");
              $('.folder_outline'+target).hide();
            })
          }
          break;
        case "first": alert("first"); break;
        case "second": alert("second"); break;
        case "third": alert("third"); break;
      }
      $(".custom_menu").hide();
    })
    /* */
    $(document).on("click", ".pageClick", function() {
      popup = window.open($(this).data("url"),'_blank');
    });
    $(document).on("click", "._folder_exist", function() {
      popup = window.open(window.location.href + "/" + $(this).data("id"), '_self');
    })
    $(document).on("click", ".add_folder", function(e) {
      e.stopPropagation();
      if (addFolderCount == 0) {
        if (e.pageX > 150 + widthPosition / 2) {
          var x = e.pageX - 220;
        } else {
          var x = e.pageX;
        }
        var y = e.pageY;
        $("#create_folder_form").css({top:y, left:x});
        $("#create_folder_form").show();
        addFolderCount = 1;
      } else {
        $("#create_folder_form").hide();
        addFolderCount = 0;
      }
      $(".form_folder_btn").click(function() {
        $("create_folder_form").hide();
        addFolderCount = 0;
      })
    })
    $(document).click(function(e) {
      if (!$(e.target).is('#create_folder_form, #folder_form_main, #folder_form, .folder_form_element')) {
        $("#create_folder_form").hide();
        addFolderCount = 0;
      }
    })
    var folderFormCount = 0;
    $(document).on("click", ".folder_form_button", function(e) {
      e.preventDefault();
      $.fn.myFolderSerialize = function() {
        var returning = '';
          $('input', this).each(function() {
            if (this.value !== "")
              returning += '&' + this.value;
          })
        return returning.substring(1);
      }
      var formData = $("#folder_form").myFolderSerialize().split('&');
      //console.log(formData);
      if (formData.length != 1) {
        return;
      } else {
        <% if @branch.empty? %>
          var inputData = {"folder": {"name":formData[0], "work_id": <%= @work %>}}
        <% else %>
          var inputData = {"folder": {"name":formData[0], "work_id": <%= @work %>, "ancestry": '<%= @ancestry %>'}}
        <% end %>
        //alert(inputData);
      }
      folderFormCount++;
      if (folderFormCount == 1) {
        $.ajax({
          type:"POST",
          url:"/api/post/folder",
          contentType:"application/x-www-form-urlencoded; charset=UTF-8",
          cache: false,
          data: inputData,
          success:function(data) {
            //alert(error);
          },
          error:function(error) {
          }
        }).complete(function() {
          window.location = window.location.href;
        })
      }
    })

    //현재 폴더의 페이지를 다른 페이지로 이동할 때 페이지 드래그
    $('._page').draggable({
      //containment: "window",
      //cursor: "crosshair",
      cancel: false,
      appendTo: 'body',
      helper: 'clone',
      revert: false,
      start: function(event, ui) {
        ui.helper.data('droppedAt', -1); // 원에 드랍시 0 > 의 상수 기타 <= 0
        ui.helper.data('draggablePos', $(this).position());
        ui.helper.transition({
          rotate: '-15deg',
          duration: 0
        });
        ui.helper.attr("data-type", "_page");
      },
      stop: function(event, ui) {

      }
    }); //draggable

    //현재 폴더를 다른 폴더로
    $('.folder_outline').draggable({
      //containment: "window",
      //cursor: "crosshair",
      cancel: false,
      appendTo: 'body',
      helper: 'clone',
      revert: false,
      start: function(event, ui) {
        ui.helper.data('droppedAt', -1); // 원에 드랍시 0 > 의 상수 기타 <= 0
        ui.helper.data('draggablePos', $(this).position());
        ui.helper.transition({
          rotate: '-15deg',
          duration: 0
        });
        ui.helper.attr("data-type", "folder_outline");
      },
      stop: function(event, ui) {

      }
    }); //draggable

    $('.folder_outline').droppable({
      accept: '#page_alert, .pageCntBox, .pageli-2, ._page, .folder_outline',
      drop: function(event, ui) {
        $(this).removeClass('folder_outline_color');
        $('.work_container').removeClass('work_container_color');
        var dataType=ui.helper.data("type");
        var branchID=$(this).children("._folder").data("id");
        //dataType에 따라 전달하는 데이터 다르게
        if(dataType=="page_alert"){
          //alert(1)
          var inputData =
            {
              "branch_id": branchID,
              "user_id": userID,
              "dataType": "page_alert"
            };
        }
        else if(dataType=="pageCntBox"){
          var dataTimeNum=ui.helper.data("time");
          var inputData =
            {
              "branch_id": branchID,
              "user_id": userID,
              "dataType": "pageCntBox",
              "timenum": dataTimeNum
            };
        }
        else if(dataType=="pageli-2"){
          var pageId=ui.helper.data("id");
          //alert(pageId)
          var inputData =
            {
              "branch_id": branchID,
              "user_id": userID,
              "dataType": "pageli-2",
              "page_id": pageId
            };
        }
        else if(dataType=="_page"){
            //alert(3)
            var pageId=ui.helper.data("id");
            //alert(pageId)
            var inputData =
            {
              "branch_id": branchID,
              "user_id": userID,
              "dataType": "_page",
              "page_id": pageId
            };
        }
        else if(dataType=="folder_outline"){
            //alert(3)
            var dragBranchID=ui.helper.data("id");
            //alert(dragBranchID)
            var inputData =
            {
              "dragBranch_id":dragBranchID,
              "branch_id": branchID,
              "user_id": userID,
              "dataType": "folder_outline"
            };
        }
        $.ajax({
          type: "POST",
          url: "/api/post/addPage",
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          cache: false,
          data: inputData
        }).complete(function() {
          if(dataType=="_page"){

            $('.page'+pageId).hide();
          }
          else if(dataType=="folder_outline"){
            $('.folder_outline'+dragBranchID).hide();
          }
        })
      }, //drop
      over: function(event, ui) {
        console.log(1)
        $(this).addClass('folder_outline_color');
        $('.work_container').removeClass('work_container_color');
        dropPosition=1;
      },
      out: function(event, ui) {
        console.log(0)
        $(this).removeClass('folder_outline_color');
        //$('.work_container').addClass('work_container_color');
        dropPosition=0;
      }
    }) //droppable
    $('.work_container').droppable({
      accept: '#page_alert, .pageCntBox, .pageli-2',
      drop: function(event, ui) {
        if(dropPosition==0){
          $(this).removeClass('work_container_color');
          var dataType=ui.helper.data("type");
          var branchID=branchIdInFolder;
          //dataType에 따라 전달하는 데이터 다르게
          if(dataType=="page_alert"){
            //alert(1+"."+branchID)
            var inputData =
            {
              "branch_id": currentBranchId,
              "user_id": userID,
              "dataType": "page_alert"
            };
          }
          else if(dataType=="pageCntBox"){
            //alert(2)
            var dataTimeNum=ui.helper.data("time");
            var inputData =
            {
              "branch_id": currentBranchId,
              "user_id": userID,
              "dataType": "pageCntBox",
              "timenum": dataTimeNum
            };
          }
          else if(dataType=="pageli-2"){
            //alert(3)
            var pageId=ui.helper.data("id");
            //alert(pageId)
            var inputData =
            {
              "branch_id": currentBranchId,
              "user_id": userID,
              "dataType": "pageli-2",
              "page_id": pageId
            };
          }
          $.ajax({
            type: "POST",
            url: "/api/post/addPage",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            data: inputData
          }).complete(function() {
            if($('#page_alert_num').text()!=0)
              window.location = window.location.href;
          })

        }
      },
      over: function(event, ui) {
        $(this).addClass('work_container_color');
        dropPosition=0;
      },
      out: function(event, ui) {
        $(this).removeClass('work_container_color');
        dropPosition=1;
      }
    }) //droppable
    $('#page_alert').droppable({
      accept: '#page_alert, .pageCntBox, .pageli-2',
      drop: function(event, ui) {
        console.log("drop")
      },
      over: function(event, ui) {
        console.log("in")
      },
      out: function(event, ui) {
        console.log("out")
      }
    }) //droppable

    //alert(branchID)
    /*
    $.getJSON("/api/branch/" + branchID + "/pages", function(response) {
      //alert(branchID)
      $.each(response, function(i, page) {
        //alert(page.url)
          var img = $('<img class="_page_img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />')
          img.load(function() {
            $('._page_img').eq(i).replaceWith(img);
          });
          //$('#closeImg' + i).attr("data-id", page.id)
            //$('.pageli-2').eq(i).append('<img class="img" src="/' + page.url + '" />');
          //$('.pageli-2').eq(i).append('<div class="page_url_div"><a class="page_url">' + page.title + '</a></div>');
          //$('.pageli-2').eq(i).attr("data-url", page.url)
      })
      //$('.pageli-2 ').hide();
    }, 0).complete(function() {
      //alert(1)
      //$('#loadingImg').hide();
      //$('.pageli-2 ').show();
    })
    */
    $(document).on("click", "#open_all_btn", function(e) {
      $(".page_wrap").children().each(function(idx, item) {
        window.open($(item).attr("data-url"), "_blank");
      })
    });
    $(document).on("click", ".closeImg", function(e) {
      target=$(this).data("id")
      $.get("/api/page/" + target + "/delete", {"page_id": target})
      .complete(function(data){
        //alert("삭제 완료");
        $('.page'+target).hide();
      })
    });
  }) //ready
  $(window).resize(function() {
    $('.work_container').width(widthPosition - 150);
  })
</script>
<div class="work_container" >
  <div class="branch_group group">
    <div class="folder_header">
      <div class="folder_title">Folders</div>
      <div class="purple_line"></div>
      <div class="gray_line"></div>
    </div>
    <div class="folder_group">
    <% if !@child_branches.nil? %>
      <% @child_branches.each do |branch| %>
        <div class="folder_outline folder_outline<%= branch.id %>" data-id="<%= branch.id %>">
          <div class="_folder _folder_exist folder_layout" data-id="<%= branch.id %>">
            <div class="_foldername folder_layout_name">
              <%= branch.name %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="add_folder _folder ">
      <img class=create_work_btn src="/assets/create_work.png">
    </div>
  </div>
  </div>
  <div class="page_group group">
    <div class="folder_header">
      <div class="folder_title">Pages</div>
      <div class="purple_line"></div>
      <div class="gray_line"></div>
      <span id="open_all_btn" class="tooltip">
        <img src="/assets/all_pages.png">
      </span>
    </div>
    <div class="page_wrap">
    <% if !@child_pages.nil? %>
      <% @child_pages.each do |page| %>
        <div class="_page page<%=page.id%> page_layout" data-url="<%= page.url %>" data-id="<%=page.id%>">
          <img class="closeImg closeImg<%=page.id%>"  data-id="<%=page.id%>" src="/assets/closeMini2.png" height="15px" onmouseover="closeHover(this);" onmouseout="closeUnhover(this);"/>
          <div class="pageClick" data-url="<%= page.url %>">
            <img class="_page_img" src="http://ryugarden.org/api/thumb?url=<%= page.url %>"/>
            <div class="_page_url_div">
              <a class="_page_url"><%= page.title %></a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<div class="create_folder_form" id="create_folder_form">
  <div id="folder_form_main" class="folder_form_element">Create Folder</div>
  <img class="form_folder_btn" src="/assets/close1.png" />
  <form id="folder_form">
    <div id="folder_form_title" class="folder_form_element">Title</div>
    <input type="text" name="title" class="folder_input folder_form_element" />
  </form>
  <input type="button" class="folder_form_button" value="Create" />
</div>

<div class="edit_branch_name" id="edit_branch_name">
  <img class="edit_close_btn form_btn" src="/assets/close1.png">
  <form id="edit_branch_form">
    <div id="title">Edit Folder Name</div>
    <input type="text" name="name" class="branch_name">
  </form>
  <input type="button" class="edit_branch_button" value="Edit">
</div>
<ul class="custom_menu">
</ul>
