<%= stylesheet_link_tag    'application', home: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
  window.userID = "<%= current_user.id%>";
  window.userName ="<%= current_user.name %>";
	window.workLength ="<%= current_user.work_ids.length %>";
  window.createWork ='<%=  link_to "<div class='+'create_personal_work'+'></div>".html_safe%>';
  window.addWork ='<%=  link_to "<div class='+'personal_work_content'+'></div>".html_safe%>';
<% end %>
<div class="member_work">
  <div class="personal_work">
    <div id="personal_work_header">
      <img src="/assets/person.png" style="float:left">
      <h3 style="float:left; margin-left:3px;">Personal Works</h3>
    </div>
    <div class='personal_work_group'  style="text-align:left;"></div>
  </div>
  <div class="personal_team_group">
  <div class="personal_team">
    <div class="personal_team_header">
      <img src="/assets/team.png" style="float:left ;">
      <h3 style=" float:left; margin-left:3px;">Personal Teams</h3>
      <%=  link_to'
      <div class="team_more">
        <img src="/assets/more.png" style="width:15px; height:15px; margin-top:7px; margin-left:7px;">More
      </div>'.html_safe, main_team_path%>
    </div>
    <div class="wrap_team_content">
      <div class="personal_team_content">
        <div class="personal_team_name">Welcome Team</div>
      </div>
      <div class="create_personal_team">
        <div class="create_personal_team_content">Create Personal Team</div>
      </div>
    </div>
  </div>
  </div>
  <div class="create_team" id="create_team">Create Team</div>
  <div class="create_team_form" id="create_team_form">
    <form id="team_form">
      <div id="team_name">Team Name</div>
      <input type="text" name="name" class="team_input">
    </form>
    <input type="button" class="team_button" value="Create">
  </div>
</div>

<script>
var getInfo=function(){		//work박스를 그려주는 함수
	$(".personal_work_group").hide();
	///////////////////////////////////////JSON/////////////////////////////////////
	$.getJSON("/api/user/"+userID, function(response) {
		for(var i=0; i<response.work_ids.length+1; i++){
			if($(".personal_work_group").eq(i).empty(0)){
				if(i!=response.work_ids.length){
					$(".personal_work_group").append("<div class=personal_work_content></div>").show('slow')
					$(".personal_work_content").eq(i).addClass('userWork')
				}else{
					 $(".personal_work_group").append("<div class=personal_work_content></div>").show('slow')
					 $(".personal_work_content").eq(i).addClass('addWork')
				}
			}//if
    }//for
	});
	/////////////////////////////////////////////////////////////////////////////////
}//getInfo()
var getWorkFromUser=function(){	//user로부터 work를 가져오는 함수
	///////////////////////////////////////JSON/////////////////////////////////////
	$.getJSON("/api/user/"+userID, function(response) {
		$.each(response.work_ids, function (i,id) {
			$.getJSON("/api/work/"+id, function(response) {
				if($(".personal_work_content").eq(i).empty(0)){
					$(".personal_work_content").eq(i).append('<div class="personal_work_name">'+response.name+'</div>')
					$(".personal_work_content").eq(i).addClass(''+id)
					$(".personal_work_content").eq(i).attr("data-id",id)
				}
			});
		});
		var string="Create Personal Work"
		$(".personal_work_content").eq(response.work_ids.length).append('<div class="add_work_name">'+string+'</div>')
	});
}//getWorkFromUser()

//############################################################################//
var getteamInfo=function(){
  $(".personal_team").hide();
  $.getJSON("/api/user/"+userID, function(response) {
    for(var i=0; i<response.team_ids.length; i++){
      if($(".personal_team_group").eq(i).empty(0)){
        if(i!=response.team_ids.length){
          $(".personal_team_group").append("<div class='personal_team personal_team"+i+"'></div>").show('slow')
          $(".personal_team"+i).append("<div class='personal_team_header personal_team_header"+i+"'></div>").show('slow')
          $(".personal_team"+i).append("<div class='wrap_team_content wrap_team_content"+i+"'></div>").show('slow')
          $(".personal_team_header"+i).append("<img src='/assets/team.png' style='float:left ;'>").show('slow')
          $(".personal_team_header"+i).append("<div class='team_more team_more"+i+"'>").show('slow')
          $(".team_more"+i).append("<img src='/assets/more.png' style='width:15px; height:15px; margin-top:7px; margin-left:7px;'>More").show('slow')
          $(".wrap_team_content"+i).append("<div class=create_personal_team></div>").show('slow')
        }
          //$(".wrap_team_content").append("<div class=personal_team_content></div>").show('slow')
        //  $(".personal_work_content").eq(i).addClass('addWork')
        }
      }//if
    })//for
  };
  /////////////////////////////////////////////////////////////////////////////////

$(document).ready(function(){
<<<<<<< HEAD

  getInfo();
  getWorkFromUser();
  $(document).on("click",".userWork",function(){
		var sId = $(this).data("id")
		window.location='/main/work/'+ sId;
	})
  getInfo();
  getWorkFromUser();
  getteamInfo();
  var nCount4 =0;
  $('#create_team').click(function(e){
    e.stopPropagation();
    if(nCount4==0){
      var x = e.pageX;
      var y = e.pageY;
      $("#create_team_form").css({top:y-180, left:x});
      $("#create_team_form").show();
      nCount4=1;
    }
    else{
      $("#create_team_form").hide();
      nCount4=0;
    }
  })
  //  $('#create_team_form,#team_name').click(function(e){
  //e.stopImmediatePropagation();
  //  })
  //  $('div:not(#create_team_form, #create_team)').click(function(e){
  //  if(nCount4==1){
  //    $('#create_team_form').hide();
  //      nCount4=0;
  //  }
  //  })
  var countdown5=0;
  $(document).on("click",".team_button", function(e){
    e.preventDefault();
    jQuery.fn.mySerialize = function(){
      var returning = '';
      $('input, select, textarea',this).each(function(){
        if (this.value!=="") // check this to avoid && in returning string
        returning +='&'+this.value;
      })
      return returning.substring(1);
    }
    var formData1=$("#team_form").mySerialize();
    //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
    if(formData1==' '){
      alert("빈칸!");
      window.location = '/'
      return;
    }
    else{
      var inputData={"team":{"name":formData1}}
      window.location = '/main/team'
    }
    //gvar json=$.parseJSON(formData);
    //alert(json.id)
    countdown5++
    if(countdown5==1){
      $.ajax({
        type:"POST",
        url:"/api/post/team",
        contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        cache:false,
        data: inputData,
        success:function(data){
        }
      })
    }
  })
})//$(document).ready
//============================================//
</script>
