<%= stylesheet_link_tag    'application', team: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
window.teamID = "<%= @team_id%>";
window.userID = "<%= current_user.id%>";
<% end %>
<div class="team_info">
  <div class="team_wrapper">
    <div class="team_name">
      <h1 style="margin-top:40px;"><%=@team.name%></h1>
    </div>
  </div>
</div>
<div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="tab_1 active">Works</a></li>
    <li><a href="#tab2" class="tab_2">Members</a></li>
  </ul>
  <section id="first-tab-group" class="tabgroup">
    <div id="tab1" class="tab1">
      <div class="team_work_wrap">
      </div>
    </div>
    <div id="tab2" class="tab2">
      <div style="display:inline-block;">
        <div class="member_left">
          <div class="title">Add Members</div>
          <div class="line"></div>
          <form id="team_form">
            <input type="text" id="team_search"name="search" class="add_member" value="" placeholder="Find members by email">
          </form>
        </div>
        <div class="member_right">
          <div class="title">Team Members</div>
          <div class="line"></div>
          <div class="member_list">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="create_team_work_form" id="create_team_work_form">
  <div id="team_work_form_main" class="team_work_form_element">Create Team Work</div>
  <img class="close_team_work_btn form_btn" src="/assets/close1.png">
  <form id="team_work_form">
    <div id="team_work_form_title" class="team_work_form_element">Title</div>
    <input type="text" name="title" class="team_input team_work_form_element" />
    <div id="team_work_form_team_name" class="team_work_form_element">Team</div>
    <select id="team_work_form_selectTeam" name="team_name" class="team_work_form_element">
    </select>
  </form>
  <input type="button" class="team_work_form_button" value="Create" />
</div>
<script>
var getWorkFromTeam=function(){
  $(".team_work_wrap").hide
  $.getJSON("/api/team/"+teamID, function(response){
    $("#team_work_form_selectTeam").append("<option value=\""+teamID+"\">"+response.name+"</option>");
    $.each(response.work_ids, function (i,id){
      if(i!=response.work_ids.length){
        $(".team_work_wrap").append('<div class="team_work team_work'+i+'"></div>').show('slow');
      }
      $.getJSON("/api/work/"+id, function(response){
        $(".team_work"+i).append('<div class="team_work_name team_work_name'+i+'">'+response.name+'</div>').show('slow');
        $(".team_work"+i).append('<span id="teamBoxIcon"class="boxIcon"><img class="close_btn closebtn'+i+'" src="/assets/close1.png" height="15px" width="15px";/></span>')
        $(".team_work"+i).attr("data-work_id",response.id)
      })
    })
    $.each(response.user_ids, function(i,id){
      $.getJSON("/api/user/"+id, function(response){
        $(".member_list").append('<div class="member member'+i+'"></div>').show('slow');
        $(".member"+i).append('<div class="content_name content_name'+i+'"></div>').show('slow');
        $(".member"+i).append('<div class="content_email content_email'+i+'"></div>').show('slow');
        if(userID==id){
          $(".member"+i).append('<img id="withdraw" src="/assets/close1.png" class="content_close">').show('slow');
        }
        $(".member"+i).append('<div class="line"></div>').show('slow');
        $(".content_name"+i).append('<div class="member_name member_name'+i+'">'+response.name+'</div>').show('slow');
        $(".content_email"+i).append('<div class="member_email member_email'+i+'">'+response.email+'</div>').show('slow');
      })
    })
  })
  $(".team_work_wrap").append('<div class="create_team_work"></div>').show('slow');
  $(".create_team_work").append('<div class="create_team_work_content">Create Team Work</div>').show('slow');
}
$('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
  var $this = $(this),
  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
  others = $this.closest('li').siblings().children('a'),
  target = $this.attr('href');
  others.removeClass('active');
  $this.addClass('active');
  $(tabgroup).children('div').hide();
  $(target).show();
});
$(document).ready(function(){
  $.ajaxSetup({ //Json 비동기>>>동기
    async:false
  });
  getWorkFromTeam();
  $(document).on("click", '.team_work' , function(){
    wId=$(this).data("work_id");
    window.location='/main/work/'+wId;
  })
  var team_search = {
    url: "/search",
    categories: [{
      listLocation: "users",
      maxNumberOfElements: 3,
      header: "Users"
    }],
    getValue: function(element) {
      return element.name;
    },
    template: {
      type: "description",
      fields: {
        description: "description"
      }
    },
    list: {
      maxNumberOfElements: 12,
      match: {
        enabled: true
      },
      sort: {
        enabled: true
      },
      onClickEvent: function() {
        var countForm=0;
        var model = $("#team_search").getSelectedItemData().attr;
        var id = $("#team_search").getSelectedItemData().id;
          jQuery.fn.mySerialize = function(){
            var returning = '';
            $('input, select, textarea',this).each(function(){
              if (this.value!=="") // check this to avoid && in returning string
              returning +='&'+this.value;
            })
            return returning.substring(1);
          }
          var formData1=$("#team_form").mySerialize();
          //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
          if(formData1==''){
            //alert("빈칸!");
            //window.location = '/'
            return;
          }
          else{
            var inputData={"team_id":teamID,"user_id":id}
            window.location = '/main/team/'+teamID;
          }
          countForm++;
          if(countForm==1){
            $.ajax({
              type:"POST",
              url:"/api/post/team_member/",
              contentType:"application/x-www-form-urlencoded; charset=UTF-8",
              cache:false,
              data: inputData,
              success:function(data){
                //alert("팀이 생성되었습니다");
              }
            })
          }
      },
      onChooseEvent: function() {
        var model = $("#team_search").getSelectedItemData().attr;
        var id = $("#team_search").getSelectedItemData().id;
        jQuery.fn.mySerialize = function(){
          var returning = '';
          $('input, select, textarea',this).each(function(){
            if (this.value!=="") // check this to avoid && in returning string
            returning +='&'+this.value;
          })
          return returning.substring(1);
        }
        var formData1=$("#team_form").mySerialize();
        //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
        if(formData1==''){
          //alert("빈칸!");
          //window.location = '/'
          return;
        }
        else{
          var inputData={"team_id":teamID,"user_id":id}
          window.location = '/main/team/'+teamID;
        }
        countForm++;
        if(countForm==1){
          $.ajax({
            type:"POST",
            url:"/api/post/team_member/",
            contentType:"application/x-www-form-urlencoded; charset=UTF-8",
            cache:false,
            data: inputData,
            success:function(data){
              //alert("팀이 생성되었습니다");
            }
          })
        }
      }
    },
    theme: "team"
  };
  $("#team_search").easyAutocomplete(team_search);
  $(".close_btn").on("click",function(e){ //팀의 워크 지우기
    e.stopPropagation();
    var work_id = $(this).parent().parent().attr('data-work_id');
    $.get("/api/work/"+work_id + "/delete", {"user_id": userID, "work_id": work_id})
    .done(function(data){
      alert("삭제완료.");
      window.location = '/main/team/'+teamID;
    })
  })
  $(".content_close").click(function(){
    $.get("/api/team/" + teamID + "/withdraw", {"team_id": teamID, "user_id": userID})
    .done(function(data){
      alert("팀을 떠났습니다.");
      window.location = '/';
    })
  })
  var team_work_countForm = 0;
  $(document).on("click", ".team_work_form_button", function(e) {
    e.preventDefault();
    $.fn.mySerialize = function() { // 병합해야할듯...
      var returning = '';
      $('input, select, textarea',this).each(function(){
        if (this.value!=="") // check this to avoid && in returning string
        returning +='&'+this.value;
      })
      return returning.substring(1);
    }
    var formData1 = $("#team_work_form").mySerialize();
    formData = formData1.split('&');
    if (formData.length != 2) {
      return;
    } else {
      if (formData[1] == "null") {
        var inputData={"work":{"name":formData[0], "user_id": userID}}
      } else {
        var inputData={"work":{"name":formData[0], "user_id": userID,"team_id": formData[1]}}
      }
      window.location = '/main/team/'+teamID;
    }
    team_work_countForm++;
    //console.log(work_countForm);
    if (team_work_countForm == 1) {
      $.ajax({
        type:"POST",
        url:"/api/post/work",
        contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        cache:false,
        data: inputData,
        success:function(data){
          //alert("팀이 생성되었습니다");
          //alert(data);
        },
        error:function(error){
          //alert(error);
        }
      })
    }
  })
  var nCount10=0;
  $(document).on("click", ".create_team_work", function(e) {
    e.stopPropagation();
    if (nCount10==0) {
      var x = e.pageX;
      var y = e.pageY;
      $("#create_team_work_form").css({top:y, left:x});
      $("#create_team_work_form").show();
      nCount10=1;
    } else {
      $("#create_team_work_form").hide();
      nCount10=0;
    }
    $('.close_team_work_btn').click(function(){
      $("#create_team_work_form").hide();
      nCount10=0;
    })
  })
});
</script>
