<%= stylesheet_link_tag    'application', header: 'all', 'data-turbolinks-track': 'reload' %>
<ul id="header">
  <li class="menu" id="menu_1">
    <div id="menuDiv1">Works</div>
  </li>
  <li class="menu" id="menu_2">
    <div class="wrapDiv">
      <form action="/users/profile" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <input type="text" name="search" class="search blue" value="" placeholder="Search">
      </form>
    </div>
  </li>
  <li class="menu" id="menu_3">
    <div class="wrapDiv"><%=link_to image_tag("home.png", alt:"home",id:"home" ),root_path %></div>
  </li>
  <li class="menu" id="menu_4">
    <div class="wrapDiv"></div>
  </li>
  <li class="menu" id="menu_5">
    <div id="menuDiv5"><img src="/assets/add.png" id="plus"></div>
  </li>
  <li class="menu" id="menu_6">
    <div id="menuDiv6"><%= current_user.name %></div>
  </li>
</ul>
<div id="dropDown1">
  <li class="user_li" id="user_li2">Team Work</li>
  <li class="user_li" id="user_li3">Personal Work</li>
</div>
<div id="dropDown5">
  <ul id="addList">
    <li class="add_li" id="add_li1">Create</li>
    <li class="add_li" id="add_li2">Create Work...</li>
    <li class="add_li" id="add_li3">Create Personal Team...</li>
    <li class="add_li" id="add_li4">Create Private Team...</li>
  </ul>
</div>
<div id="dropDown6">
  <ul id="userList">
    <li class="user_li" id="user_li1"><%= current_user.name %>(<%= current_user.email %>)</li>
    <li class="user_li" id="user_li2">Profile</li>
    <li class="user_li" id="user_li3">Works</li>
    <li class="user_li" id="user_li4">Teams</li>
    <%=  link_to '<li class="user_li" id="user_li5">All-pages</li>'.html_safe, (show_pages_path)%>
    <li class="user_li" id="user_li6">Help</li>
    <%=  link_to '<li class="user_li" id="user_li7">로그아웃</li>'.html_safe, destroy_user_session_path,
    method: :delete, data: {confirm: "로그아웃?" }%>
  </ul>
</div>
<script>
$(document).ready(function(){
  var nCount1=0;
  var nCount2=0;
  var nCount3=0;
  $('#menuDiv1').click(function(){
    if(nCount1==0){
      $('#dropDown1').show();
      nCount1=1;
    }
    else{
      $('#dropDown1').hide();
      nCount1=0;
    }
  })
  $('div:not(#menuDiv1,#dropDown1)').click(function(){
    if(nCount1==1){
      $('#dropDown1').hide();
      nCount1=0;
    }
  })
  $('#menuDiv5').click(function(){
    if(nCount3==0){
      $('#dropDown5').show();
      nCount3=1;
    }
    else{
      $('#dropDown5').hide();
      nCount3=0;
    }
  })
  $('div:not(#menuDiv5,#dropDown5)').click(function(){
    if(nCount3==1){
      $('#dropDown5').hide();
      nCount3=0;
    }
  })
  $('#menuDiv6').click(function(){
    if(nCount2==0){
      $('#dropDown6').show();
      nCount2=1;
    }
    else{
      $('#dropDown6').hide();
      nCount2=0;
    }
  })
  $('div:not(#menuDiv6, #dropDown6)').click(function(){
    if(nCount2==1){
      $('#dropDown6').hide();
      nCount2=0;
    }
  })
})
</script>
