<%= stylesheet_link_tag    'application', header: 'all', 'data-turbolinks-track': 'reload' %>
<ul id="header">
  <li class="menu" id="menu_1">
    <div id="menuDiv1">Works</div>
  </li>
  <li class="menu" id="menu_2">
    <div class="wrapDiv"><input class="search blue" type="text" placeholder="Search"/></div>
  </li>
  <li class="menu" id="menu_3">
      <div class="wrapDiv"><%=link_to image_tag("home.png", alt:"home",id:"home" ),root_path %></div></li>
  <li class="menu" id="menu_4">
    <div class="wrapDiv"></div>
  </li>
  <li class="menu" id="menu_5">
    <div class="wrapDiv"></div>
  </li>
  <li class="menu" id="menu_6">
    <div id="menuDiv6"><%= current_user.name %></div>
  </li>
</ul>
<div id="dropDown1">안녕</div>
<div id="dropDown6">
  <ul id="userList">
    <li class="user_li" id="user_li1"><%= current_user.name %>(<%= current_user.email %>)</li>
    <li class="user_li" id="user_li2">Profile</li>
    <li class="user_li" id="user_li3">Works</li>
    <li class="user_li" id="user_li4">Teams</li>
    <%=  link_to '<li class="user_li" id="user_li5">All-pages</li>'.html_safe, (show_pages_path)%>
    <li class="user_li" id="user_li6">Help</li>
    <%=  link_to '<li class="user_li" id="user_li7">로그아웃</li>'.html_safe, destroy_user_session_path,
     method: :delete, data: {confirm: "로그아웃?" }%>
  </ul>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
