<%= javascript_tag do %>
  window.userID = "<%= current_user.id%>";
<% end %>
<ul id="header">
  <li class="menu" id="menu_1">
    <div id="menuDiv1">Works</div>
  </li>
  <li class="menu" id="menu_2">
    <div class="wrapDiv">
      <form action="/users/profile" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <input type="text" name="search" class="search blue" value="" placeholder="Search">
      </form>
    </div>
  </li>
  <li class="menu" id="menu_3">
    <div class="wrapDiv"><%=link_to image_tag("home.png", alt:"home",id:"home" ),root_path %></div>
  </li>
  <li class="menu" id="menu_4">
    <div class="wrapDiv"></div>
  </li>
  <li class="menu" id="menu_5">
    <div id="menuDiv5"><img src="/assets/add.png" id="plus"></div>
  </li>
  <li class="menu" id="menu_6">
    <div id="menuDiv6"><%= current_user.name %></div>
  </li>
</ul>
<div id="dropDown1">
  <li class="user_li" id="user_li2">Team Work</li>
  <li class="user_li" id="user_li3">Personal Work</li>
</div>
<div id="dropDown5">
  <ul id="addList">
    <li class="add_li_name" id="add_li1">Create</li>
    <li class="add_li" id="add_li2">Create Work...</li>
    <li class="add_li" id="add_li3">Create Team...</li>
    <li class="add_li" id="add_li4">Create Private Team...</li>
  </ul>
</div>
<div id="dropDown6">
  <ul id="userList">
    <li class="user_li_name" id="user_li1"><p><%= current_user.name %></p><p>(<%= current_user.email %>)</p></li>
    <li class="user_li" id="user_li2">Profile</li>
    <li class="user_li" id="user_li3">Works</li>
    <li class="user_li" id="user_li4">Teams</li>
    <%=  link_to '<li class="user_li" id="user_li5">All-pages</li>'.html_safe, (show_pages_path)%>
    <li class="user_li" id="user_li6">Help</li>
    <%=  link_to '<li class="user_li_logout" id="user_li7">로그아웃</li>'.html_safe, destroy_user_session_path,
    method: :delete, data: {confirm: "로그아웃?" }%>
  </ul>
</div>
<script>
$(document).ready(function(){
  var nCount1=0;
  var nCount2=0;
  var nCount3=0;
  $('#menuDiv1').click(function(){
    if(nCount1==0){
      $('#dropDown1').show();
      nCount1=1;
    }
    else{
      $('#dropDown1').hide();
      nCount1=0;
    }
  })
  $('div:not(#menuDiv1,#dropDown1)').click(function(){
    if(nCount1==1){
      $('#dropDown1').hide();
      nCount1=0;
    }
  })
  $('#menuDiv5').click(function(){
    if(nCount3==0){
      $('#dropDown5').show();
      nCount3=1;
    }
    else{
      $('#dropDown5').hide();
      nCount3=0;
    }
  })
  $('div:not(#menuDiv5,#dropDown5)').click(function(){
    if(nCount3==1){
      $('#dropDown5').hide();
      nCount3=0;
      //항목들 다시 나타나게 함
      $('.add_li').fadeIn();
      //타이틀 다시 수정
      $('#add_li1').empty().append("Create")
      $('.add_form, #ReadingInfoSelectForm, #ReadingInfoSelectForm2, #ReadingInfoSelectBtn').remove(0)
    }
  })
  $('#menuDiv6').click(function(){
    if(nCount2==0){
      $('#dropDown6').show();
      nCount2=1;
    }
    else{
      $('#dropDown6').hide();
      nCount2=0;
    }
  })
  $('div:not(#menuDiv6, #dropDown6)').click(function(){
    if(nCount2==1){
      $('#dropDown6').hide();
      nCount2=0;
    }
  })

  //#dropdown5
  //Create Work
  $('#add_li2').click(function(){
    $('#add_li1').empty().append('<span id=\'left_icon\'><img src="/assets/arrow-left.png" height="15px" width="15px"></span>Create Work')
    $('.add_li').fadeOut(0);
    //form1
    $('#addList').append('<li class=\"add_form\" id=\"add_form1\">Title</li>')
    $('#addList').append('<form class=\"add_formContain\" name=\"ReadingInfoSelectForm\" id=\"ReadingInfoSelectForm\" action=\"\" method=\"post\"><input type=\"text\" name=\"addFormData\" value=\"\"></form>')
    //form2
    $('#addList').append('<li class=\"add_form\" id=\"add_form2\">Team</li>')
    $('#addList').append('<form class=\"add_formContain\" name=\"ReadingInfoSelectForm2\" id=\"ReadingInfoSelectForm2\" action=\"\" method=\"post\"><select id=\"selectTeam\" name=\"team\"><option value=\"null\">(none)</option></select></form>')
    ///////////////////////////////////////JSON/////////////////////////////////////
    $.getJSON("/api/user/"+userID, function(response) {
        $.each(response.team_ids, function (i,id) {
          $.getJSON("/api/team/"+id, function(response) {
            $("#selectTeam").append("<option value=\""+id+"\">"+response.name+"</option>");
          });
        });
    });
    ///////////////////////////////////////////////////////////////////////////////
    //submit button
    $('#addList').append('<input type=\"button\" class=\"add_form\" id=\"ReadingInfoSelectBtn\" name=\"ReadingInfoSelectBtn\" value=\"Create\">')
  })

  //Create Work에서 Create 버튼 눌렀을 때
  $(document).on("click","#ReadingInfoSelectBtn",function() {
      jQuery.fn.mySerialize = function() {

        var returning = '';

        $('input, select, textarea', this).each(function() {
            if (this.value !== "") // check this to avoid && in returning string
                returning += '&' + this.value;
        });

        return returning.substring(1);

      };
      var formData1 = $("#ReadingInfoSelectForm").mySerialize();
      var formData2 = $("#ReadingInfoSelectForm2").mySerialize();
      
      alert(formData2)
      //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감 
      if(formData1==''||formData2=='') {
        alert("빈칸!")
        return;
      } 
      var inputData={"work":{"name":formData1, "user_id":userID, "team_id":formData2}}
      //var json=$.parseJSON(formData);
      //alert(json.id)
      $.ajax({
            type : "POST",
            url : "/api/post/work",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
            cache : false,
            data :  inputData,
            success:function(data){ 
              alert('success');
            }
      });
  })
  //Create Team
  $('#add_li3').click(function(){
    //$('#add_li1').empty().append('<span id=\'left_icon\'><img src="/assets/arrow-left.png" height="15px" width="15px"></span>Create Team')
    //$('.add_li').fadeOut();

  })
  //왼쪽 화살표를 누르면 이전 화면으로 이동 
  $(document).on("click","#left_icon",function() {
    $('.add_li').fadeIn()
    $(this).fadeOut(0)
    $('.add_form').fadeOut(0)
    //타이틀 다시 수정
    $('#add_li1').empty().append("Create")
    $('.add_form, #ReadingInfoSelectForm, #ReadingInfoSelectForm2, #ReadingInfoSelectBtn').remove(0)
  });
});
</script>
