<script>
var heightPosition =window.innerHeight||document.body.clientHeigh;
var headerSize=40;
var marginSize=20;

$(document).ready(function(){
  $('.treeView').height(heightPosition - headerSize-marginSize);
    $('#using_json').jstree({ 'core' : {
        'data' : {
            'url' : '/api/work/<%= @work %>/tree'
        }
    } 
  }); 

  $('#using_json').on("select_node.jstree", function (e, data) { 
    if(data.node.data.ancestry=="null")
      window.open("/main/work/folder/"+<%= @work %>+ "/"+ data.node.id, '_self')
      //alert("/main/work/folder/"+<%= @work %>+ "/"+ data.node.id)
    else
      window.open("/main/work/folder/"+<%= @work %>+ "/"+ data.node.data.ancestry + "/"+ data.node.id, '_self')
      //alert("/main/work/folder/"+<%= @work %>+ "/"+ data.node.data.ancestry + "/"+ data.node.id)
  });

  $('.treeView').resizable({
     resize: function(event,ui) {
        console.log([$(this).outerWidth(),$(this).outerHeight()]);
        var outerWidth=$(this).outerWidth()
        $('.work_container').width(widthPosition - outerWidth);
    }
  });

});

$(window).resize(function() {
  $('.branch').click(function(){
   $(this).children().toggleClass('fa-folder-open-o');
   $(this).next().slideToggle();
  });

  $('.treeView').height(heightPosition - headerSize-marginSize);
})
</script>


<div class="treeView ">
  <div id=workName>
    <%= @work +" / "+@workname %>
  </div>
  <div id="using_json">

  </div>
</div>
