<%= javascript_tag do %>
  window.userID = "<%= current_user.id%>";
  window.userName ="<%= current_user.name %>";
  window.workLength ="<%= current_user.work_ids.length %>";
  window.createWork ='<%=  link_to "<div class='+'create_personal_work'+'></div>".html_safe%>';
  window.addWork ='<%=  link_to "<div class='+'personal_work_content'+'></div>".html_safe%>';
<% end %>

<div id='side_bar'>
	<div id='page_alert'>
		<div id='page_alert_num'>

    </div>
	</div>

</div>
<div id='unPageBox'>
</div>

<script>

var width =window.screen.availWidth||window.innerWidth||document.body.clientWidth;
var height =window.screen.availHeight||document.body.clientHeigh;
var widthPosition =window.innerWidth||window.innerWidth||document.body.clientWidth;
var heightPosition =window.innerHeight||document.body.clientHeigh;
var pagesClickCnt=0;
var flag=100;
var pageWidth;
var pageHeight;

var setSize=function(){ //사이즈 세팅해주는 함수
  var width =window.screen.availWidth||window.innerWidth||document.body.clientWidth;
  var height =window.screen.availHeight||document.body.clientHeigh;
  var widthPosition =window.innerWidth||window.innerWidth||document.body.clientWidth;
  var heightPosition =window.innerHeight||document.body.clientHeigh;
  $('#side_bar').width(width*15/100)
  $('#side_bar').height(height*2/3)
  $('#side_bar').offset({left:width*85/100});
  $('#side_bar').offset({top:height*5/100-7});
  //사이드바 원 높이를 가로와 맞게
  $('#page_alert').height($('#page_alert').width())
  $('#page_alert_num').height($('#page_alert_num').width()*4/5)

  $('#page_alert').show();
}

$('#page_alert').draggable({
	revert: false,
	start: function(event, ui) {
		ui.helper.data('droppedAt', -1); // 원에 드랍시 0 > 의 상수 기타 <= 0
		ui.helper.data('draggablePos', $(this).position());
    $('#page_alert').transition({
      scale: 0.65,
      duration: 0
    });
	},
	stop: function(event, ui) {
      $('#page_alert').transition({
        scale: 1,
        duration: 0
      });
      //alert(ui.helper.data('droppedAt'));
			if (ui.helper.data('droppedAt') != -1)
				$(this).css({
					left: ui.helper.data('draggablePos').left,
					top: ui.helper.data('draggablePos').top
				});
      // Check value of ui.helper.data('dropped') and handle accordingly...
  }
});

var checkPageAlerNum=function(){  //branch에 포함되지 않은 페이지들의 개수를 체크해 할당
  $.getJSON("/api/user/"+userID, function(response) {
    $('#page_alert_num').empty().append(response.unclassifiedpage_ids.length)
    $.each(response.unclassifiedpage_ids, function (i,first) {

    });
  }, 1900);
}
var pagesInform=function(){
  var unPages = $('<div class="unPages"></div>').appendTo('#unPageBox');
  var unPage=$('<ol class="unPage"></ol>').appendTo('.unPages');
  var unPages = $('<div class="unPages"></div>').appendTo('#unPageBox');
        var unPage=$('<ol class="unPage"></ol>').appendTo('.unPages');
        $('.unPages').transition({ x:+(widthPosition*1.4/5)+'px',y:0+'px',duration: 0, scale: 1.0});
        $('.unPages').width(width*2.1/5)
        $('.unPages').height(height*7/10)
        $('.unPages').css({top:height*1.5/10})
        $('.unPages').attr("data-id",0)
}


var showPageCntBox=function(){  //페이지 추가할때마다 시간 순으로 나눔 
  var pluginClickCnt=0;   //플러그인을 클릭한 횟수 
  var beforeTime=0;       //이전 페이지의 created_at
  var colorArray=["#b1e0f8", "#a8cfc3", "#eb9980", "#f1cdcf", "#f1e8b2"];
  setTimeout(function() {
    $.getJSON("/api/user/" + userID + "/unclassifiedpages", function(response) {
      $.each(response, function(i, page) {
        //이전페이지의 created_at과 다르면 플러그인 클릭 횟수 증가 
        if(page.created_at!=beforeTime){
          $('<div class="pageCntBox pageCntBox'+pluginClickCnt+'"></div>').appendTo('.unPages');
          $('.pageCntBox').width($('.unPages').width())
          $('.pageCntBox').height($('.unPages').width()*2/10);
          $('.pageCntBox'+pluginClickCnt).empty().append(page.time);
          $('.pageCntBox'+pluginClickCnt).css("background-color",colorArray[pluginClickCnt%5]);
          pluginClickCnt++;
          beforeTime=page.created_at;
        }
      }); 
    }, 0).complete(function() {

    })
  }); //setTimeout
}
var showPages=function(){  //페이지 화면 띄워즈는 함수
  var flag=100;
  $(document).on("click", "#page_alert", function() {
    if ($('#unPageBox').empty()) {
      var unPages = $('<div class="unPages"></div>').appendTo('#unPageBox');

      //var openAllPageBtn = $('<input type="button" id="unpages_open_all_btn" value="Open All Pages" />').appendTo('.unPages');
      var unPage = $('<ol class="unPage"></ol>').appendTo('.unPages');
      //$('.unPages').transition({ x:+(widthPosition*2.5/5)+'px',y:0+'px',duration: 0, scale: 1.0});
      pageWidth=$('.unPages').width(width * 0.8/ 5)
      pageHeight=$('.unPages').height(height * 10 / 10)
      
      //$('.unPages').hide();
      //console.log(flag)
      if (flag == 100) {
        $('.unPages').css({
          right:-(width * 0.6 / 5)
          //right: 5 + $('#side_bar').width()
        })
        $('.unPages').attr("data-id", 0)
        flag = $('.unPages').data("id");
        $('#page_alert').fadeOut(100);
      } else if (flag == 0) {
        $('.unPages').css({
          right:0
        })
        $('.unPages').attr("data-id", 1)
        flag = $('.unPages').data("id");
      } else if (flag == 1) {
        $('.unPages').css({
          right:-(width * 0.6 / 5)
        })
        $('.unPages').attr("data-id", 0)
        flag = $('.unPages').data("id");
        $('#page_alert').fadeOut(300);
      }
      //시간순으로 나눠주기 
      showPageCntBox();
    }
    
    //console.log($('.unPages').data("id"))
    if ($('.unPages').data("id") == 0) {
      //$('.unPages').show();
      $('.unPages').transition({ x:-(width * 0.6 / 5)});
      $('.unPages').attr("data-id", 1)
      /*
      /////////////////////////////Json/////////////////////////////
      setTimeout(function() {
        $.getJSON("/api/user/" + userID + "/unclassifiedpages", function(response) {
          //$('.unPage').append('<img id="loadingImg" src="/assets/loading2.gif" />');

          for (var i = 0; i < response.length; i++) {
            //한번만 박스 그려주도록
            if ($('.pageli-2').eq(i).hasClass('pageli2_' + i)) break;

            else {
              $('<li class="pageli-2 pageli2_' + i + '"></li>').appendTo('.unPage');
              $('.pageli2_'+i).append('<img id="loadingImg" class="img'+i+'" src="/assets/loading3.svg" height="60%" width="60%" />');
              $('<img id="closeImg'+i+'" class="closeImg" src="/assets/closeMini.png" onmouseover="closeHover(this);"" onmouseout="closeUnhover(this);" height="15px" width="15px"/>').appendTo('.unPage');
            }
          } //for

          $.each(response, function(i, page) {
            //$('.pageli-2').eq(i).append('<img class="img'+i+'" src="/assets/loading.gif" />');
            //$('.img'+i).after('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />').hide().load(function(){});
            var img=$('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />')
            img.load(function(){
              $('.img'+i).replaceWith(img);
            });
            $('#closeImg'+i).attr("data-id", page.id)
            //$('.pageli-2').eq(i).append('<img class="img" src="/' + page.url + '" />');
            $('.pageli-2').eq(i).append('<div class="page_url_div"><a class="page_url">' + page.title + '</a></div>');
            $('.pageli-2').eq(i).attr("data-url", page.url)
          })
          //$('.pageli-2 ').hide();
        }, 0).complete(function(){
          //alert(1)
          //$('#loadingImg').hide();
          //$('.pageli-2 ').show();
        })
      }); //setTimeout
      //////////////////////////////////////////////////////////////
      */
    } else {
      //console.log("hide")
      $('.unPages').transition({ x: (width * 0.6 / 5)});
      //$('.unPages').hide();
      $('.unPages').attr("data-id", 0)
    }
    ////////////////////////////////////////////////////////////////////////////
    /*
    $.getJSON("/api/user/" + userID + "/unclassifiedpages", function(response) {
      for (var i = 0; i < response.length; i++) {
        //한번만 박스 그려주도록
        if ($('.pageli-2').eq(i).hasClass('pageli2_' + i)) break;

        else {
          $('<li class="pageli-2 pageli2_' + i + '"></li>').appendTo('.unPage');
          $('.pageli2_' + i).append('<img id="loadingImg" class="img' + i + '" src="/assets/loading3.svg" height="60%" width="60%" />');
          $('<img id="closeImg' + i + '" class="closeImg" src="/assets/closeMini.png" onmouseover="closeHover(this);"" onmouseout="closeUnhover(this);" height="15px" width="15px"/>').appendTo('.unPage');
        }
      } //for

      $.each(response, function(i, page) {
        //$('.pageli-2').eq(i).append('<img class="img'+i+'" src="/assets/loading.gif" />');
        //$('.img'+i).after('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />').hide().load(function(){});
        var img = $('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />')
        img.load(function() {
          $('.img' + i).replaceWith(img);
        });
        $('#closeImg' + i).attr("data-id", page.id)
          //$('.pageli-2').eq(i).append('<img class="img" src="/' + page.url + '" />');
        $('.pageli-2').eq(i).append('<div class="page_url_div"><a class="page_url">' + page.title + '</a></div>');
        $('.pageli-2').eq(i).attr("data-url", page.url)
      })
    });
    */
  })//click


  $('body').click(function(e){
    if ( !$(e.target).is('#page_alert, #page_alert_num, .unPages, .pageCntBox, .unPage, .pageli-2, img, .page_url_div, .page_url') ) {
      if (flag == 0) {
        $('.unPages').css({
          right:-(width * 0.8/ 5)
        })
        flag=1;
        //alert(1)
        //console.log("hide")
        $('.unPages').transition({ x: 1});
        //$('.unPages').hide();
        $('.unPages').attr("data-id", 0)
        $('#page_alert').fadeIn(300);
      }
    }
  });

  $(document).on("click",".pageli-2",function() {
      popup = window.open($(this).data("url"),'_blank');
      //.window.focus();
  })
  $(document).on("click", "#unpages_open_all_btn", function(e) {
    $(".unPage").children().each(function(idx, item) {
      window.open($(item).attr("data-url"), "_blank");
    })
  });
  $(document).on("click", ".closeImg", function() {
    inputData=inputData = {"id":$(this).data("id")} 
    //alert(inputData)
    $.ajax({
      type: "POST",
      url: "/api/post/deleteunclassifiedpages",
      contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      cache: false,
      data: inputData
    }).complete(function(){
        $.getJSON("/api/user/" + userID + "/unclassifiedpages", function(response) {
          $('.unPage').empty();
          //$('.unPage').append('<img id="loadingImg" src="/assets/loading2.gif" />');

          for (var i = 0; i < response.length; i++) {
            //한번만 박스 그려주도록
            if ($('.pageli-2').eq(i).hasClass('pageli2_' + i)) break;

            else {
              $('<li class="pageli-2 pageli2_' + i + '"></li>').appendTo('.unPage');
              $('.pageli2_'+i).append('<img id="loadingImg" class="img'+i+'" src="/assets/loading3.svg" />');
              $('<img id="closeImg'+i+'" class="closeImg" src="/assets/closeMini.png" onmouseover="closeHover(this);"" onmouseout="closeUnhover(this);" height="15px" width="15px"/>').appendTo('.unPage');
            }
          } //for

          $.each(response, function(i, page) {
            //$('.pageli-2').eq(i).append('<img class="img'+i+'" src="/assets/loading.gif" />');
            //$('.img'+i).after('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />').hide().load(function(){});
            var img=$('<img class="img" src="http://ryugarden.org/api/thumb?url=' + page.url + '" />')
            img.load(function(){
              $('.img'+i).replaceWith(img);
            });
            $('#closeImg'+i).attr("data-id", page.id)
            //$('.pageli-2').eq(i).append('<img class="img" src="/' + page.url + '" />');
            $('.pageli-2').eq(i).append('<div class="page_url_div"><a class="page_url">' + page.title + '</a></div>');
            $('.pageli-2').eq(i).attr("data-url", page.url)
          })
          //$('.pageli-2 ').hide();
        }, 0).complete(function(){
          //alert(1)
          //$('#loadingImg').hide();
          //$('.pageli-2 ').show();
        })
      //////////////////////////////////////////////////////////////
    })
  });
}

$(document).ready(function(){
	var width =window.screen.availWidth||window.innerWidth||document.body.clientWidth;
  var height =window.screen.availHeight||document.body.clientHeigh;
  var widthPosition =window.innerWidth||window.innerWidth||document.body.clientWidth;
  var heightPosition =window.innerHeight||document.body.clientHeigh;
  if(height<500){
	   width=1366;
	   height=768;
  }//if

  //사이즈 세팅
  setSize();
  //branch에 포함되지 않은 페이지들의 개수를 체크해 할당
  refreshIntervalId=setInterval( checkPageAlerNum, 1000 );
  //pagesInform();
  
  showPages();
});


$(window).resize(function(){
	width =window.screen.availWidth||window.innerWidth||document.body.clientWidth;
	height =window.screen.availHeight||document.body.clientHeigh;
 	widthPosition =window.innerWㄴidth||window.innerWidth||document.body.clientWidth;
 	heightPosition =window.innerHeight||document.body.clientHeigh;
 	if(height<500){
    width=1366;
    height=768;
 	}//if

  //사이즈 세팅
  setSize();
  $('#page_alert').show();
  checkPageAlerNum();
  showPages();
});
</script>
