<script>
	var widthFix = window.innerWidth||document.body.clientWidth;
	var heightFix =window.innerHeight||document.body.clientHeigh;
	$(document).ready(function(){
	     $(document).on(function(){
	          $('#contents').width(String(widthFix));
	          $('#contents').height(String(heightFix));
	     })
	})
</script>
<!DOCTYPE html>
<html>
	<head>
		<title>Ttree</title>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag 'application','jquery', 'data-turbolinks-track' => true  %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<!--main/pages -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
		<script src="http://code.jquery.com/color/jquery.color-2.1.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/zoomooz/1.1.6/jquery.zoomooz.min.js"></script>
	</head>
	<body>
		<% if user_signed_in? %>
	<%= render 'layouts/header' %>
	<% end%>
	<div  id ="contents" >
	<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
	</body>
	</html>
